<!DOCTYPE html>
<html>
<head>
    <title>about</title>
    <link rel="icon" href="images/we.png">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <div class="main-content">
         {{>header}}
         <p>hola amigo and amiga!!!. This site is created by Santosh sahu and
              content in the website is from mapbox.com and weatherstack.com. Gracias...!</p>
   
    <img class="portrait" src="/images/img.png">

    <p>My name is Santosh Sahu</p>

    </div>
   

    {{>footer}}
</body>




</html>